GOOGLE_CLIENT_ID=549599558538-h5ts070i3fpeokfkjj625a9r4epbed1l.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
FLASK_SECRET=super_very_secret_key
EMAIL_PASS=qzofpgazffxrnsbl
BAS_USER=admin
BAS_PASS=Hu75rVio8fGOK7Hj
DATABASE_URL=postgresql://nova_khvylia_db_6lit_user:M8Ay7PADYrfIbkAUDEw8LnBjJ2IzY1SQ@dpg-d1t7ekruibrs73907mc0-a/nova_khvylia_db_6lit
SMTP_USER=artemcool200911@gmail.com
PYTHON_VERSION=3.13.0