Flask
Flask-SQLAlchemy
SQLAlchemy
python-dotenv
requests
firebase-admin
twilio
cloudinary
gunicorn # <-- Дуже важливий для роботи на сервері!
psycopg2-binary # <-- Для роботи з базою даних Postgres на Fly.io
lxml
Flask-Dance
flask_limiter
Flask-Login
Werkzeug