Flask
Flask-SQLAlchemy
SQLAlchemy
python-dotenv
requests
firebase-admin
twilio
cloudinary
gunicorn
psycopg2-binary
lxml
Flask-Dance
flask_limiter
Flask-Login
Flask-wtf
Werkzeug
flask-cors
itsdangerous