{% extends "base.html" %}
{% block content %}
<section class="container" style="margin-top: 2rem;">
  <h2>Додати новий товар</h2>
  <form method="post">
    <input type="text" name="name" placeholder="Назва товару" required />
    <input type="number" name="price" placeholder="Ціна" required />
    <input type="text" name="category" placeholder="Категорія" required />
    <input type="text" name="image" placeholder="Ім'я файлу зображення (наприклад: kotel.jpg)" required />
    <textarea name="desc" placeholder="Опис товару..." required></textarea>
    <button type="submit" class="btn">Додати</button>
  </form>
</section>
{% endblock %}
