<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Нова Хвиля</title>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
  <div class="page-wrapper">
    {% include "_header.html" %}

    <main class="container">
      {% if show_home_sections %}
        {% include "_home_sections.html" %}
      {% endif %}
      {% block content %}{% endblock %}
    </main>

    {% include "_footer.html" %}
    {% include "_scripts.html" %}
    {% include "_modals.html" %}
  </div>
</body>

</html>