<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ shop.name }} - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    {% block extra_css %}{% endblock %}
</head>
<body {% if current_user.is_authenticated %}class="is-authenticated"{% endif %}>
    {% include '_phone_prompt_banner.html' %}
    {% include '_email_prompt_banner.html' %}
    {% include '_header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include '_footer.html' %}
    {% include '_modals.html' %}

    <div id="page-overlay"></div>

    <script>
        window.currentUser = {{ current_user.is_authenticated|tojson }};
    </script>
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-auth-compat.js"></script>

    <script>
        const firebaseConfig = {
          apiKey: "AIzaSyDxGNCl2PIbfFU-NR-yK7sSnCjm-giSVAI",
          authDomain: "nova-khvylia-auth.firebaseapp.com",
          projectId: "nova-khvylia-auth",
          storageBucket: "nova-khvylia-auth.firebasestorage.app",
          messagingSenderId: "444416798631",
          appId: "1:444416798631:web:d55a502b8add370dfc5082",
          measurementId: "G-CGH5RPPBJV"
        };

      // Ініціалізація Firebase
      firebase.initializeApp(firebaseConfig);
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% block extra_js %}{% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                {% for category, message in messages %}
                    // Перетворення категорій Flask на типи Toast
                    // 'danger' -> 'error', 'info'/'warning' -> 'info', 'success' -> 'success'
                    var type = '{{ category }}';
                    if (type === 'danger') type = 'error';
                    if (type === 'warning') type = 'error';

                    // Виклик твоєї JS функції showToast
                    showToast("{{ message }}", type);
                {% endfor %}
            });
        </script>
        {% endif %}
    {% endwith %}

</body>
</html>