{% extends "base.html" %}
{% block title %}Мої відгуки{% endblock %}

{% block content %}
<div class="container profile-page-container">
    <h1 class="page-title">Мої відгуки та питання</h1>

    {% if reviews.items %}
        {% for review in reviews.items %}
        <div class="review-card">
            <div class="review-card-header">
                <div>
                    <strong>
                        {% if review.review_type == 'review' %}Відгук{% elif review.review_type == 'question' %}Питання{% else %}Відповідь{% endif %}
                    </strong>
                    <span style="margin-left: 15px;">від {{ review.timestamp.strftime('%d.%m.%Y') }}</span>
                </div>
                {% if review.rating > 0 %}
                    <span class="rating">{% for i in range(review.rating) %}★{% endfor %}<span style="color: #e0e0e0;">{% for i in range(5 - review.rating) %}★{% endfor %}</span></span>
                {% endif %}
            </div>
            <div class="review-card-body">
                <div class="review-card-product-info">
                    <a href="{{ url_for('product_detail', product_id=review.product_id) }}">
                        <img src="{{ review.product.image|image_url }}" alt="{{ review.product.name }}">
                    </a>
                    <div>
                        <a href="{{ url_for('product_detail', product_id=review.product_id) }}"><strong>{{ review.product.name }}</strong></a>
                    </div>
                </div>
                <p>"{{ review.text }}"</p>
            </div>
        </div>
        {% endfor %}

         <!-- Пагінація -->
        <div class="pagination">
            <div class="pagination-controls">
                {% if reviews.has_prev %}<a href="{{ url_for('my_reviews', page=reviews.prev_num) }}" class="page-link">«</a>{% endif %}
                {% for page_num in reviews.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                    {% if page_num %}<a href="{{ url_for('my_reviews', page=page_num) }}" class="page-link {{ 'active' if reviews.page == page_num else '' }}">{{ page_num }}</a>{% else %}<span class="page-dots">...</span>{% endif %}
                {% endfor %}
                {% if reviews.has_next %}<a href="{{ url_for('my_reviews', page=reviews.next_num) }}" class="page-link">»</a>{% endif %}
            </div>
        </div>

    {% else %}
        <div class="no-items-placeholder">
             <i class="fas fa-star"></i>
            <p>Ви ще не залишали відгуків.</p>
        </div>
    {% endif %}
</div>
{% endblock %}